html {
    --colorBackgroundHeader: orange;
    --colorBackgroundMenuBurguerHeader: rgb(215, 145, 17);
    --colorHeaderH1: blue;
}

.header {
    background-color: var(--colorBackgroundHeader);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    max-height: 3.5rem;
}

.header img {
    margin-left: 0.25rem;
    width: 3.5rem;
    cursor: pointer;
}

.header h1{
   font-size: larger;
}

.header nav ul {
    margin-right: 2rem;
    display: flex;
    gap: 0.2rem;
   
}

.header nav ul li {
    list-style: none;
}
.header nav ul li.headerLink-style {
    margin-right: 1rem;
}

.header nav ul button {
    padding: 0.15rem;
    border-radius: 6px;
    cursor:pointer;
    
}
.header nav ul button:active {
    background-color: darkgrey;
}

a {
    text-decoration: none;
    color: black;
}
li.userName {
    color: rgb(255, 225, 0);
    /* text-shadow: 0 0 10px blue; */
    text-shadow: 2px 0 0 dodgerblue, -2px 0 0 dodgerblue, 0 2px 0 dodgerblue, 0 -2px 0 dodgerblue, 1px 1px dodgerblue, -1px -1px 0 dodgerblue, 1px -1px 0 dodgerblue, -1px 1px 0 dodgerblue;

}
a:hover {
    color:lightseagreen;
}
a:active {
    color:green;
}

img.menuHeader {
    margin-right: 0.5rem;
    width: 2.5rem;
}

div.menuBurguerHeader {
    background-color: var(--colorBackgroundMenuBurguerHeader);
    width: fit-content;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 3.5rem; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
        
}


div.menuBurguerHeader nav ul li {
    list-style: none;
    margin: 0.5rem 0;
}

button.menuBurguerHeaderLink-buttonStyle {
    background-color: transparent;
    border: none;
}


