@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sniglet:wght@800&display=swap');

html {
  --fontStyleMainH: 'Sniglet', cursive;
  --fontStylePublishMessages: 'Permanent Marker', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url("./img/fondoMundo-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

