
.div-searchBox {
    background-color: white;
    width: fit-content;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 0 0 15px darkgrey;
}


form.style-search-form label span{
    margin-right: 0.25rem;
}
select.selectCategory{
    margin-right: 0.75rem;
}

label.search-box {
    margin-right: 0.25rem;

}

input.search-box {
    width: 50vw;
    height: 23px;
    vertical-align: middle;
}

.magnifying-glass {
    width: 16px;
    vertical-align: middle;
    cursor: pointer;
}