
.div-searchBox {
    background-color: white;
    width: fit-content;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 0 0 15px var(--colorShadows);
}


form.style-search-form label span{
    margin-right: 0.25rem;
}
select.selectCategory{
    margin-right: 0.75rem;
    cursor: pointer;
}

label.search-box {
    margin-right: 0.25rem;

}

input.search-box {
    width: 20vw;
    height: 23px;
    vertical-align: middle;
}

.magnifying-glass {
    width: 18px;
    vertical-align: middle;
    cursor: pointer;
}

@media (max-width: 660px) {
    .div-searchBox {
        margin: 2rem 1.5rem;
    }
}

@media (max-width: 590px) {
    .div-searchBox {
        min-width: 290px;
        max-width: 19.5rem;
    }
    .search-box {
        width: max-content;    
    }
}