section.searchLocationCard{
    flex: 1;
    
}

ul.searchLocationCardList {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

label.sortResults {
    margin-right: 0.5rem;
    font-weight: bold;
}
.sortResults {
    margin-bottom: 1rem;
    cursor: pointer;
}


ul.searchLocationCardList li article.card-style {
    background-color: ivory;
    padding: 0.75rem;
    max-width: 40rem;
    border-radius: 25px;
    box-shadow: 0 0 15px var(--colorShadows);
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-areas: 
        "Titulo Rating"
        "Categoria Rating"
        "Lugar Rating"
        "Entradilla Rating"
        "img img"
        "body body"
        "Publicado Publicado";
    
}



h3.searchLocationCardName {
    grid-area: Titulo;
    margin: 0.25rem 0;
}

p.searchLocationCardCategory {
    grid-area: Categoria;
    margin: 0.20rem 0;
}
p.searchLocationCardPlace {
    grid-area: Lugar;
    margin: 0.20rem 0;
}
p.searchLocationCardIntro {
    grid-area: Entradilla;
    margin: 0.20rem 0;
}

ul.searchLocationCardList li article.card-style img {
    grid-area: img;
    margin: 1rem 0;
    max-width: 100%;
    object-fit: cover;
}

p.searchLocationCardPosted {
    grid-area: Publicado;
    justify-self: flex-end;
    font-size: smaller;
    margin: 1em 0 1em 0;
    color: darkgrey;
    font-style: italic;
}

p.searchLocationCardText {
    grid-area: body;
    margin: 0.25rem 0 0.25rem 0;
    max-width: 40rem;
    text-align: justify;
    text-justify: distribute;
}

section.rating-stars-style {
    grid-area: Rating;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.count-style li {
    
    list-style: none;
    font-weight: bold;
    margin: 0.09rem;
    color: darkgoldenrod;
}


ul.count-style li span.fivestars {
    margin: 15px;
    vertical-align: top;
    color: black;
}
ul.count-style li span.fourstars {
    margin-left: 35px;
    vertical-align: top;
    color: black;
}
ul.count-style li span.threestars {
    margin-left: 55px;
    vertical-align: top;
    color: black;
}
ul.count-style li span.twostars {
    margin-left: 75px;
    vertical-align: top;
    color: black;
}
ul.count-style li span.onestars {
    margin-left: 95px;
    vertical-align: top;
    color: black;
}



@media (max-width: 660px) {
    ul.searchLocationCardList li article.card-style {
        margin: 0 1.5rem;   
    }

    label.sortResults {
        margin-left: 1.5rem;
    }
}
@media (max-width: 426px) {

    select.sortResults {
        margin-left: 1.5rem;
    }
}

@media (max-width: 370px) {

    ul.count-style li span.fivestars {
        right: 1px;
    }
    ul.count-style li span.fourstars {
        margin-left: 10px;
    }
    ul.count-style li span.threestars {
        margin-left: 30px;
    }
    ul.count-style li span.twostars {
        margin-left: 50px;
    }
    ul.count-style li span.onestars {
        margin-left: 70px;
    }
}
